*.csv
*.tsv
*.xlsx
*stats.txt

*.npy
*.npz

*.json

*.genomedata

*.sizes

*.bedGraph
*.bedgraph
*.bg

*.bigWig
*.bigwig
*.bw
*.wig

*.bed

*.zip
*.gz

*.gtf
*.gff
*.gff3

*.out

*.pkl

*.db

*.pdf
log_*
log.txt
*_stats.txt
*_err.txt
*.tab

*.pyc
*.snakemake*
*.snakemake.log

.DS_Store